//- Metas
- var lang = 'es'
- var title = 'Lemonade, a freshing sip'
- var desc = 'Starterkit for Frontend developments'
- var keywords = 'HTML, CSS, JavaScript'
- var author = 'Álvaro Möo'
- var pathJs = 'js/min/scripts.min.js'
- var pathCSS = 'css/min/styles.min.css'
- var favicon = 'favicon.png'
- var appleFavicon = 'apple-touch-icon.png'

//- Librerías
- var fontAwesome = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'
- var tweenMax = 'https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js'
- var timelineMax = 'https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TimelineMax.min.js'